body{
    font-family: Rubik; 
    color: #374754;
    padding-top: 33px;
}

h1{
    font-weight: 700;
}

h2{
    font-weight: 500; 
    font-size: 50px;
    color:#252B42;
}

h3{
    max-width:800px;
    font-weight: 400;
    font-size: 28px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.2px;
}

p{
    font-weight: 400;
    font-size: 16px;
}

button{  
    background: #5271FF;
    color: white;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

#motto{
    line-height: 70px;
    padding-top: 41px;
    padding-bottom: 27px;
}

#motto h1, #motto h1 {
    color: #0B132A;
    font-size: 64px;
}

#logo{
    display: flex;

}
#logo-text{
    color: #0B132A;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#logo-text h1, #logo-text h2{
    font-size: 20px;
    margin-top: 2px;
    margin-bottom: 1px;
}

.benefit-container {
    height:165px;
}

.benefit-img{
    width: 198px;
    height: auto;
}

#benefits h2{
    font-size: 24px;
}

#benefits  h3{
    line-height: 25px;
    max-width: 200px;
    font-size: 18px;
}

#landing button{
    width: 230px;
    height: 60px;
}

#main-img{
    width: 700px;
    height: auto;
}

@media(max-width:1200px){
    #main-img{
        align-self: center;
        max-width: 450px;
        height: auto;
    }
}

#contact {
    max-width: 1073px;
}

.form-control{
    background: #F5F5F5;
    border: 1px solid #E8E8E8;
    margin-top: 30px;
    border-radius: 47px;
}

#messageEntry{
    border-radius: 8px;
    resize: none;
}

#submit-btn{
    background: #2091F9;
    border-radius: 35px;
    color: white;
    width: 105px;
    height: 46px;
    box-shadow: none;
}


.form-control::placeholder{
    color: #000000;
}

#asset-pixels{
    position: relative;
    bottom:-100px;
    left:100px;
    z-index:2;
}

#newsletter{
    z-index:3;
    max-width: 1170px;
    min-height: 100px;      
    background: linear-gradient(90.06deg, #30D7BA 0.05%, #03ABF3 35.43%, #458FF6 99.94%);
    border-radius: 8px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 37px;
    color: #FFFFFF;
}

#nlEmail{
    background-color: transparent;
    border-width: 2px;
    max-width: 500px;
}

#nlEmail::placeholder{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #EBEBEB;
}